.banner img {
    min-width: 100%;
}

footer {
    height: 50px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carousel {
    max-width: 60%;
}
/*
article {
    justify-content: center;
}
/* 
@media (min-width: 992px) {
    .cards {
        display: flex;
        justify-content: space-evenly;
    }
} */